.header {
    text-align: left;
    color: #898585d6;
    background-attachment: scroll;
    background-image: url("./images/elevated-view-camera-lens-spiral-notebook-cellphone-personal-accessories-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 700px;
}

header .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 100px;
}

header .intro-text {
    padding-top: 120px;
    padding-bottom: 60px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 28px;
    opacity: 0;
    animation: fadeInLeft 1s ease-in-out forwards;
    animation-delay: 0.5s;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    opacity: 0;
    animation: fadeInLeft 1s ease-in-out forwards;
    animation-delay: 1s;
}

.page-scroll.btn.btn-xl {
    padding: 22px 45px;
    border-color: #1ee2e7;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
    opacity: 0;
    animation: fadeInLeft 1s ease-in-out forwards;
    animation-delay: 1.5s;
}

.page-scroll.btn.btn-xl:hover,
.page-scroll.btn.btn-xl:focus,
.page-scroll.btn.btn-xl:active {
    border-color: #17d0d5;
    background-color: #17d0d5;
    color: #fff;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 280px;
        padding-bottom: 180px;
    }

    header .intro-text .intro-lead-in {
        font-size: 42px;
        line-height: 48px;
    }

    header .intro-text .intro-heading {
        font-size: 80px;
        line-height: 85px;
    }
}